.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cart-content {
  display: flex; /* Make popup layout side-by-side */
  background: white;
  width: 70%;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 0.3;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}